body {
    background-color: bisque;
}

.wrapper {
    width: 100%;
    /*max-width: 960px;*/
    margin: 0 auto;
}

.flex-container {
    display: flex;
    background-color: white;
}

.box {
    height: 100px;
    min-width: 100px;
}

.one {
    background-color: blue;
}

.two {
    background-color: red;
}

.three {
    background-color:green;
}

.four {
    background-color:yellow;
}

.five {
    background-color:orange;
}